<ol class="breadcrumb"
    style="background-color: #fff; font-weight: bold !important; col; border-radius:0;">
    <li class="breadcrumb-item"><a href="#">Quản Lý Phim</a></li>
    <li class="breadcrumb-item"><a href="/quanlyphim/phim">Phim</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thêm Phim Mới</li>
</ol>
<div class="container" style="min-height: 100vh;">
    <h6 style="padding: 10px 20px; font-weight: bold;">Thêm phim mới</h6>
    <hr>
    <form action="/quanlyphim/phim/them/luu" method="POST" class="container-form-add mx-auto" style="max-width: 900px;"
        enctype="multipart/form-data">

        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label" for="tenPhim">Tên phim<span id="phimError-Tên phim" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input required type="text" class="form-control" name="tenPhim" id="phimInput-Tên phim" aria-describedby="helpId"  oninput="validateTenPhim('Tên phim')"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="idTheLoai">Thể loại</label>
                    <select id="idTheLoai" name="idTheLoai" class="form-control">
                        {{#each listTheLoai}}
                        <option value="{{this.idTheLoai}}" {{#eq this.idTheLoai
                            ../listPhim.[0].idTheLoai}}selected{{/eq}}>
                            {{this.tenTheLoai}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ngonNgu">Ngôn ngữ<span id="phimError-Ngôn ngữ" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input class="form-control" name="ngonNgu" id="phimInput-Ngôn ngữ" aria-describedby="helpId" oninput="validateTenPhim('Ngôn ngữ')" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="hangSX">Hãng sản xuất<span id="phimError-Hãng sản xuất" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input class="form-control" name="hangSX" id="phimInput-Hãng sản xuất" aria-describedby="helpId" oninput="validatePhim('Hãng sản xuất')" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nuocSX">Nước sản xuất<span id="phimError-Nước sản xuất" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input required type="text" class="form-control" name="nuocSX" id="phimInput-Nước sản xuất" aria-describedby="helpId"  oninput="validateTenPhim('Nước sản xuất')"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="thoiLuong">Thời lượng<span id="phimError-Thời lượng" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input class="form-control" name="thoiLuong" id="phimInput-Thời lượng" aria-describedby="helpId" oninput="validatePhim('Thời lượng')" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="dienVien">Diễn viên<span id="phimError-Diễn viên" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input class="form-control" name="dienVien" id="phimInput-Diễn viên" aria-describedby="helpId" oninput="validateTenDienVien('Diễn viên')" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="daoDien">Đạo diễn<span id="phimError-Đạo diễn" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input class="form-control" name="daoDien" id="phimInput-Đạo diễn" aria-describedby="helpId" oninput="validatePhim('Đạo diễn')" />
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label" for="anh">Chọn ảnh</label>
                    <input type="file" id="anh" name="anh" class="form-control" value="{{anh}}">
                </div>

                <div class="mb-3">
                    <div id="output" class="rounded mx-auto d-block" style="width: 200px; height: 300px; overflow: hidden; background-color: aliceblue;">
                        <img id="img-preview" src="../../resources/img/default_img.png" style="width: 100%; height: 100%; object-fit: cover;"
                            alt="Ảnh xem trước" />
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="moTa">Mô tả<span id="phimError-Mô tả" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <textarea required class="form-control" name="moTa" id="phimInput-Mô tả" aria-describedby="helpId" oninput="validateMoTa('Mô tả')" rows="4"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="namSX">Năm sản xuất<span id="phimError-Năm sản xuất" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                    <input class="form-control" name="namSX" id="phimInput-Năm sản xuất" aria-describedby="helpId" oninput="validateNamSX('Năm sản xuất')" />
                </div>
            </div>
        </div>

        <div class="text-center">
            <button name="add" id="btn-submit" class="btn btn-primary" type="submit"
                style="padding: 10px; min-width: 400px; font-weight: bold; margin: 10px;">Thêm mới</button>
        </div>
    </form>
</div>

<div>
    {{> notifications}}    
</div>
<style>
    .mb-3 label {
        margin-bottom: 0px;
    }

    .mb-3 input,
    .mb-3 select,
    .mb-3 textarea {
        margin-top: 0px;
    }
</style>

<script src="../../public/js/imagePreview.js"></script>
<script src="../../public/js/validateForm.js"></script>