<ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="/tongquan">Tổng quan</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thay đổi mật khẩu</li>  
</ol> 
<div class="container py-5" style="min-height: 100vh;">
                <div class="col-md-6 offset-md-3">
                    <span class="anchor" id="formChangePassword"></span>
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" role="form" action="/changePass/{{idNhanVien}}?_method=PUT" method="POST">
                            
                                <div class="mb-3">
                                    <label class="col-lg-3 form-label"3>Mật khẩu cũ</label>
                                    <input class="form-control" required type="password"value="{{matKhau}}" id="matKhau" name="matKhau">
                                </div>
                            
                                <div class="mb-3">
                                    <label class="col-md-3 form-label">Mật khẩu mới</label>
                                    <input class="form-control" required type="password"value="{{newMatKhau}}" id="newMatKhau" name="newMatKhau">
                                </div>                
                                            
                                <div class="mb-3">
                                    <label class="col-md-8 form-label">Xác nhận mật khẩu mới</label>
                                    <input class="form-control" required type="password" value="{{comfirmMatKhau}}" id="comfirmMatKhau" name="comfirmMatKhau">
                                </div>     
                            
                                <div class="mb-3 d-flex row justify-content-center">
                                    <div class="col-md-8">
                                        <button onclick="document.querySelector('form').submit();" type="button"style="padding: 10px; min-width: 350px; font-weight: bold; margin: 10px;" class="btn btn-primary w-50">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>       
        </div>
        <!--/col-->
    </div>
<!--/container-->
<div>
    {{> notifications}}    
</div>
