  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item active" aria-current="page">Tổng quan</li>
  </ol> 
  <div class="container" style="min-height: 500px; margin: 10px;background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
     border-radius: 4px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);;"> 
<!-- Icon Cards -->
<div class="title-" style="justify-content: center;margin-left: 15px;">
    <h6  style="padding: 10px 20px; font-weight: bold;">Xin chào,{{req.session.user.hoTen}} </h6>
    <hr>
</div>
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-3" >
            <div class="card border-0" style="width: 400; height: 200px;background-color: #FFFF; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header card-header-no-border" style="border-bottom: #FFF;background-color: #FFFF;">
                    <h5 class="card-title">Phim</h5>
                </div>
                                
                <div class="card-footer" style="border-top: #FFF;background-color: #FFFF;">
                    <p class="card-text">Tổng số phim: 4000</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="card border-0" style="width: 400; height: 200px;background-color: #FFFF; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header card-header-no-border" style="border-bottom: #FFF;background-color: #FFFF;">
                    <h5 class="card-title">Vé</h5>
                </div>
                                
                <div class="card-footer" style="border-top: #FFF;background-color: #FFFF;">
                    <p class="card-text">Tổng số vé đã bán: 4000</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="card border-0" style="width: 400; height: 200px;background-color: #FFFF; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header card-header-no-border" style="border-bottom: #FFF;background-color: #FFFF;">
                    <h5 class="card-title">Nhân viên</h5>
                </div>
                                
                <div class="card-footer" style="border-top: #FFF;background-color: #FFFF;">
                    <p class="card-text">Tổng số Nhân viên: 10</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="card border-0" style="width: 400; height: 200px;background-color: #FFFF; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header card-header-no-border" style="border-bottom: #FFF;background-color: #FFFF;">
                    <h5 class="card-title">Khách hàng</h5>
                </div>
                                
                <div class="card-footer" style="border-top: #FFF;background-color: #FFFF;">
                    <p class="card-text">Tổng số khách hàng: 400</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>               
<div>
  {{#if notificationErr.length}}
      <div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
          <strong>{{notificationErr}}</strong>
      </div>
  {{/if}}
  {{#if notificationSuccess.length}}
      <div class="alert auto-close alert-success alert-dismissible show fade mb-3" role="alert" style="position: fixed; top: 0; right: 0; width: 300px; z-index: 100;">
          <strong style="text-align: center;">{{notificationSuccess}}</strong>
      </div>
  {{/if}}
</div>

  <script>
  $(document).ready(function() {
    $('.alert').addClass("show");
    $('.alert').removeClass("hide");
    $('.alert').addClass("showAlert");
    setTimeout(function(){
        $('.alert').removeClass("show");
        $('.alert').addClass("hide");
    },3000);
  });
</script>