<ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; border-radius: 0; -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05); box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);">
    <li class="breadcrumb-item"><a href="/ve">Vé Đặt</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thêm Vé Đặt</li>
</ol>

<div class="container" style="margin: 10px; border-radius: 4px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);">
    <h6 style="padding: 10px 20px; font-weight: bold;">Thêm Vé Đặt</h6>
    <hr>

    <form action="/#" method="POST" class="container-form-add mx-auto" style="max-width: 900px;" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label" for="category">Chọn Phim</label>
                    <select id="category" name="category" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Ngày chiếu</label>
                    <input class="form-control" name="price" id="price" aria-describedby="helpId" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Phòng chiếu</label>
                    <input class="form-control" name="price" id="price" aria-describedby="helpId" />
                </div>
                <div class="mb-3">
                    <label class="form-label d-block" for="category">Ca chiếu</label>
                    <input class="form-control" type="text">
                    
                </div>
            </div>

            <div class="col-sm-6">
                <div class="cinema-layout">
                    <label class="form-label d-block" for="category">Chọn ghế</label>

                    <div class="d-flex justify-content-around">
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                A1
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                A2
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                A3
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                A4
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                A5
                            </label>
                        </div>
                    </div>

                        <div class="d-flex justify-content-around">
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                B1
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                B2
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                B3
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                B4
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                B5
                            </label>
                        </div>
                    </div>

                        <div class="d-flex justify-content-around">
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                C1
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                C2
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                C3
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                C4
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                C5
                            </label>
                        </div>
                    </div>

                        <div class="d-flex justify-content-around">
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                D1
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                D2
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                D3
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                D4
                            </label>
                        </div>
                        <div class="form-check" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                D5
                            </label>
                        </div>
                    </div>
             </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Giá phim</label>
                    <input class="form-control" name="price" id="price" aria-describedby="helpId" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="category">Phương thức thanh toán</label>
                    <select id="category" name="category" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Tổng tiền</label>
                    <input class="form-control" name="price" id="price" aria-describedby="helpId" />
                </div>
            </div>
        </div>

        <div class="text-center">
            <button name="add" class="btn btn-primary" type="submit" style="padding: 10px; min-width: 400px; font-weight: bold; margin: 10px;">Thêm vé mới</button>
        </div>
    </form>
</div>
