  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item"><a href="#">Quản Lý Phim</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phim Đã Chiếu</li>
  </ol> 
<div class="row" style="min-height: 500px; margin: 10px;">
  <div class="col-sm-12" style="background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
     border-radius: 4px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);;">
    <div class="row">
        <h6 style="padding: 10px 20px; font-weight: bold;">Danh sách phim đã chiếu</h6>
        <hr>
      <div class="col-12">
        {{!-- Search --}}
        <div class="input-group" style="display: flex; justify-content: end; margin: 20px;">
        {{!-- <div class="form-outline" style="display: flex;">
            <input type="search" id="form1" class="form-control" style="min-width: 400px;" placeholder="Tên phim.." />
            <a type="button" class="btn btn-primary" style="margin-left: 5px;">
                <i class="fas fa-search"></i> Tìm
            </a>            
        </div> --}}
        </div>        
        {{!-- Add --}}

        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="align-middle" scope="col">#</th>
              <th class="align-middle" scope="col">Tên phim</th>
              <th class="align-middle" scope="col">Poster</th>
              <th class="align-middle" scope="col">Thể Loại</th> 
              <th class="align-middle" scope="col">Thời Lượng</th>
              <th class="align-middle" scope="col">Nước Sản Xuất</th>
              <th class="align-middle" scope="col">Năm Sản Xuất</th>
              <th class="align-middle" scope="col">Mô Tả</th>
              <th class="align-middle" scope="col">Trạng thái</th>              
              <th class="align-middle" scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="align-middle" scope="row">{{sum 1 @index }}</th>
              <td class="align-middle" style="width: 100px;">Tên phim</td>
              <td class="w-25 align-middle"><img src="#" class="img-thumbnail" alt=""></td>
              <td class="align-middle" style="width: 100px;">Thể loại</td>
              <td class="align-middle">Thời lượng</td>
              <td class="align-middle">Nước sản xuất</td>
              <td class="align-middle">Năm sản xuất</td>
              <td class="align-middle">Mô tả</td>    
              <td class="align-middle">Trạng thái</td>              
              <td class="align-middle">
                <a href="" type="button" style="margin-bottom: 10px; width: 90px;" class="btn btn-success">Chi tiết</a>
                <a type="button" data-bs-toggle="modal" data-bs-target="#delete-phim-modal" style="margin-bottom: 10px; width: 90px;" class="btn btn-danger">Xoá</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!--modal xác nhận xoá -->
<div class="modal" tabindex="-1" role="dialog" id="delete-phim-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa phim này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-product" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
