  <ol class="breadcrumb" style="background-color: #fff; font-weight: bold !important; col; border-radius:0;    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);">
    <li class="breadcrumb-item active" aria-current="page">Thông báo</li>
  </ol> 
<div class="row" style="min-height: 500px; margin: 10px;">
  <div class="col-sm-12" style="background-color: #fff; -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
     border-radius: 4px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);;">
    <div class="row">
        <h6 style="padding: 10px 20px; font-weight: bold;">Thông báo</h6>
        <hr>
      <div class="col-12">
        {{!-- Search --}}
        <form action="#" method="POST" class="container-form-add mx-auto" style="max-width: 900px;" enctype="multipart/form-data">
        </form>
    </div>
    </div>
    </div>
    </div>

