{{#if message.length}}
<div class="alert auto-close alert-warning alert-dismissible show fade mb-3" role="alert" style="">
    {{#each message}}
    <strong>{{err}}</strong>
    {{/each}}
</div>
{{/if}}