<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" action="#" method="POST" id="changePasswordForm">
                    <input type="hidden" id="idNhanVien" name="idNhanVien" />

                    <div class="mb-3">
                        <label class="form-label">Mật khẩu cũ</label>
                        <input class="form-control" required type="password" value="{{matKhau}}" id="matKhau"
                            name="matKhau" />
                    </div>

                    <div class="mb-3">
                        <label class=" form-label">Mật khẩu mới<span id="matKhauError" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                        <input class="form-control" required type="password" value="{{newMatKhau}}" oninput="validateMatKhau()" id="matKhauInput"
                            name="newMatKhau" />
                    </div>

                    <div class="mb-3">
                        <label class=" form-label">Xác nhận mật khẩu mới<span id="comfrimError" style="color: red; font-style: italic; margin-left: 10px;"></span></label>
                        <input class="form-control" required type="password" value="{{comfirmMatKhau}}"
                            id="comfirmMK" name="comfirmMatKhau" oninput="validateComfirmMatKhau()"/>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button id="btn-change-pass" onclick="document.getElementById('changePasswordForm').submit();" type="button" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<script src="../../public/js/validateForm.js"></script>