<td>
    <a href="" class="btn btn-danger " data-toggle="modal" data-target="#delete-phim"  data-id-phim="{{this.idPhim}}" data-id="{{this.idPhim}}">Xóa</a>
</td>

<form name="del-phim-form" method="POST"></form>

<!-- Modal xóa -->
 <div class="modal fade" id="delete-phim" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa phim này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-del-phim" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div> 

<script>
   document.addEventListener("DOMContentLoaded",function(){
      var idPhim;
      var btnDelLC=document.getElementById("btn-del-phim");        
      var deleteForm= document.forms["del-phim-form"];

      $('#delete-phim').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) 
          idPhim = button.data('id-phim') 
      })
      btnDelLC.onclick=function(){
          deleteForm.action="/quanlyphim/phim/xoa/"+idPhim+"?_method=PUT"
          deleteForm.submit();
      }
  })
</script>
